<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <!-- email field  -->
    <mat-form-field>
      <input type="email" matInput placeholder="Your email" ngModel name="email" email required #emailInput="ngModel">
      <mat-icon matSuffix>mode_edit</mat-icon>
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
      <mat-error *ngIf="!emailInput.hasError('required')">E-Mail is invalid.</mat-error>
    </mat-form-field>
    <!-- password field -->
    <mat-form-field hintLabel="Should be at least 8 characters long.">
      <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="8" #pwInput="ngModel">
      <!-- TODO: Change to thumbs up icon if greater than 8 -->
      <mat-hint align="end">{{ pwInput.value?.length }} / 8</mat-hint>
      <mat-error>Has to be at least 8 characters long.</mat-error>
    </mat-form-field>
    <!-- datepicker -->
    <mat-form-field>
      <input matInput placeholder="Your birthdate" [matDatepicker]="picker" [max]="maxDate" ngModel name="birthdate" required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <!-- TODO: Create pop up window with terms -->
    <mat-checkbox ngModel name="agree" required color="primary">Agree to Terms and Conditions.</mat-checkbox>
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>
